@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #514663;
}

.form-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    width: 100%;
    color: #08090A;
    font-weight: lighter;
    font-family: 'Comic Neue', cursive;
}

label {
    font-size: 1.2em;
    margin-bottom: 0.25em;
    color: #08090A;
    font-weight: lighter;
    font-family: 'Shadows Into Light', cursive;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    font-family: 'Shadows Into Light', cursive;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #08090A;
    font-family: 'Shadows Into Light', cursive;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.firstName {
    margin-right: 1%;
}

.lastName {
    margin-left: 1%;
}

.population,
.time-to-elapse,
.requested-cases,
.total-hospital-beds,
.period-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #519e8a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.createAccount button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.createAccount small {
    color: #999;
    font-weight: lighter;
}

.period-type {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.dropdown-btn:hover {
    color: #f1f1f1;
}